<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spare_part_shop.Properties.Settings.Spare_PartConnectionString"
            connectionString="Data Source=DESKTOP-GCLIEA7;Initial Catalog=Spare_Part;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>